/* hylma */




.expansion-items {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sidebar_nav-btn {
    height: 40px;
    width: 40px;
    justify-content: center;
}

.nucleo-icon {
    --0ebdea24: 20px;
}

.nav-text-container {
    display:none;
}

.sidebar-playlist .nav-text-container {
    display: block;
}

button.sidebar_nav-btn.sidebar-playlist {
    width: 100%;
    justify-content: left;
}

button.expand-playlist.passive-button {
    width: 32px;
    height: 32px;
}
button.expand-playlist.passive-button {
    margin: 4px;
}